!!!
%html
  %head
    %title
      IconHaiku
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "select2.css", :media => "all"
    = stylesheet_link_tag    "pepper-grinder/jquery-ui-1.9.0.custom.min.css"
    = javascript_include_tag "application"
    %link{href: "http://fonts.googleapis.com/css?family=Eagle Lake&subset=latin", rel: "stylesheet", type: "text/css"}
    = csrf_meta_tags
%body{:'ng-app' => 'NounApp'}
  .container
    %header.row
      .pull-center.span12
        = link_to image_tag("haiku_header.png"), root_path, class: "headLogo"
    #main.row
      .span12
        = yield
    %footer.row
      = render 'partials/footer'
  - if Rails.env.production?
    = render 'partials/ganalytics'

