!!!
%html
  %head
    %title
      IconHaiku
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  .container
    %header.row
      .pull-center.span12
        = image_tag "haiku_header.png"
    #main.row
      .span12
        = yield
    %footer.row
      = render 'partials/footer'

